{
	"id": "b18df84c-bce2-4cfc-bfbd-29d021972c39",
	"name": "Dev",
	"values": [
		{
			"key": "baseUrl",
			"value": "localhost",
			"type": "default",
			"enabled": true
		},
		{
			"key": "consumerKey",
			"value": "key",
			"type": "default",
			"enabled": true
		},
		{
			"key": "consumerSecret",
			"value": "secret",
			"type": "secret",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2023-11-02T10:48:58.774Z",
	"_postman_exported_using": "Postman/10.19.14-231031-0907"
}